<nav class="navbar navbar-expand-md sticky-top custom-nav-glass">
    <div class="container-fluid">
        <a class="navbar-brand brand-design" href="/">
            <i class="fa-solid fa-tents"></i>
            <span class="brand-text">Aruva</span>
        </a>

        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link menu-link" href="/">Home</a> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/listings">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/listings/new">New Listing</a>
                </li>
            </ul>

            <form class="d-flex search-wrapper" role="search">
                <input class="form-control search-input" type="search" placeholder="Search experiences..." aria-label="Search" />
                <button class="btn btn-search-icon" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <div class="btn-group ms-lg-3 mt-2 mt-lg-0">
                <button type="button" class="btn profile-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars me-2"></i>
                    <i class="fa-solid fa-circle-user profile-icon"></i>
                </button>
                
                <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
                    <% if(!currUser){ %>
                        <li><a class="dropdown-item" href="/signUp"><b>Sign Up</b></a></li> 
                        <li><a class="dropdown-item" href="/login">Log In</a></li> 
                    <% } %>
                    <% if(currUser){ %>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger font-weight-bold" href="/logout">Log Out</a></li> 
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>