body{
    font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.card{
    border-color: azure;
    margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none !important;
}

/* card image overlay */
.card-img-overlay{
    opacity: 0 !important;
}
.card-img-overlay:hover{
    font-size: 5px !important;
    font-style: italic;
    opacity:1 !important;
    background-color: rgba(0, 0, 0, 0.244) !important;
    border-radius: 1rem !important;
}

